@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Inter:wght@700&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Inter:wght@700&family=Raleway:wght@600&family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.privacy-one{
    min-height: 80vh;
    padding: 10rem;
    padding-top: 5rem;
    padding-bottom:0%;
}

.privacy-full{
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 0%;
}

.privacy-full .right{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0%;
}

.privacy-full .left{
    font-weight: bolder;
    font-family: 'Agdasima', sans-serif;
    font-family: 'Space Grotesk', sans-serif; 
}